@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-01: #131318;
    /*opacity: 70%*/
    --dark-1o7: rgba(19, 19, 24, 0.70);
    --dark-02: #424247;
    --dark-03: #5A5A5D;
    --w-01: #fff;
    --orange-01: #FF5400;

    --radius-01: 16px;
    --radius-02: 8px;

    --d-width: 82%;
    --m-width: 90%;

    --mt-01: 3vw;

    --bigger: 4.5vw;
    --small: 1.1vw;
    --h2: 2.8vw;
    --btn: 1.4vw;
    --btn-small: 1.1vw;
    --h3: 2vw;
    --h4: 1.6vw;

    --light: 300;
    --regular: 400;
    --bold: 700;
    --extra-bold: 800;
}

body {
    font-family: 'Mulish', sans-serif;
    color: var(--dark-01);
}

p {
    font-size: 1rem;
    color: var(--dark-03);
    font-weight: var(--regular);
    width: 60%;
}

h1 {
    font-weight: var(--extra-bold);
    font-size: var(--bigger);
}

h2 {
    font-weight: var(--extra-bold);
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
    font-weight: var(--extra-bold);
}

h4 {
    font-weight: var(--extra-bold);
    font-size: var(--h4);
}

/* font-family: 'Inter', sans-serif; */
input[type="button"] {
    color: white;
    background-color: var(--orange-01);
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border-radius: var(--radius-02);
    -webkit-border-radius: var(--radius-02);
    -moz-border-radius: var(--radius-02);
    -ms-border-radius: var(--radius-02);
    -o-border-radius: var(--radius-02);
    border: none;
    font-weight: 700;
    width: fit-content;
}


nav {
    width: var(--d-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vw;

}

nav .menu-bar {
    display: none;
}

nav .logo {
    font-size: 2.5vw;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 0.7vw;
}

nav .logo span, nav ul .home {
    color: var(--orange-01);
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25vw;
    padding: 0.7vw 0;
    gap: 3vw;
    font-weight: 400;
}


.bannar {
    position: relative;
    width: var(--d-width);
    margin: 0 auto;
    color: #fff;
    margin-top: var(--mt-01);
    text-align: center;
}

.bannar img {
    width: 100%;
    border-radius: var(--radius-01);
    -webkit-border-radius: var(--radius-01);
    -moz-border-radius: var(--radius-01);
    -ms-border-radius: var(--radius-01);
    -o-border-radius: var(--radius-01);
}

.bannar .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: var(--radius-01);
    -webkit-border-radius: var(--radius-01);
    -moz-border-radius: var(--radius-01);
    -ms-border-radius: var(--radius-01);
    -o-border-radius: var(--radius-01);
    /* color: #fff!important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.bannar .container h1, .bannar .container p {
    color: #fff;
}

.bannar .container .search {
    display: flex;
    gap: 1.5vw;
    background-color: rgba(255, 255, 255, 0.307);
    padding: 1vw;
    border-radius: var(--radius-02);
    -webkit-border-radius: var(--radius-02);
    -moz-border-radius: var(--radius-02);
    -ms-border-radius: var(--radius-02);
    -o-border-radius: var(--radius-02);
}

.bannar .container input {
    border: none;
    outline: navajowhite;
    width: 12vw;
    padding: 1vw 1vw;
    font-size: var(--small);
    color: rgba(19, 19, 24, 0.536);
    border-radius: var(--radius-02);
    -webkit-border-radius: var(--radius-02);
    -moz-border-radius: var(--radius-02);
    -ms-border-radius: var(--radius-02);
    -o-border-radius: var(--radius-02);
}

.bannar .container input::placeholder {
    /* font-size: var(--regular); */
    color: rgba(19, 19, 24, 0.483);
}

.popular-tours {
    width: var(--d-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    margin-top: var(--mt-01);
}

.popular-tours img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius-02);
    -webkit-border-radius: var(--radius-02);
    -moz-border-radius: var(--radius-02);
    -ms-border-radius: var(--radius-02);
    -o-border-radius: var(--radius-02);
}

.popular-tours p {
    width: 100%;
}

.popular-tours .discription {
    display: flex;
    flex-direction: column;
    gap: 1.7vw;
    height: fit-content;
}

.popular-tours .discription ul {
    list-style-position: inside;
    color: inherit;
    color: #5A5A5D;
}

.popular-tours .discription ul li {
    /* display: inline-flex; */
    padding-top: 20px;
}



.choose-destination {
    width: var(--d-width);
    margin: 0 auto;
    margin-top: var(--mt-01);
}

.choose-destination .img-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.choose-destination .box .img-box img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: var(--radius-02);
    -webkit-border-radius: var(--radius-02);
    -moz-border-radius: var(--radius-02);
    -ms-border-radius: var(--radius-02);
    -o-border-radius: var(--radius-02);
}

.box {
    border: 1px solid red;
}

.choose-destination .box-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}

.choose-destination .box-2 {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    gap: 1vw;
}

.choose-destination .box-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}

.choose-destination .box .img-box {
    position: relative;
}

.choose-destination .box .img-box span {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.why-choose {
    width: var(--d-width);
    margin: 0 auto;
    margin-top: var(--mt-01);
    text-align: center;
}

.why-choose .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}

.why-choose .container div {
    width: 40%;
    text-align: left;
}

.why-choose .container .box-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.why-choose .container .box-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.why-choose .container .box-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.why-choose .container div p {
    width: 100%;
}

.why-choose .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}

.why-choose .info p {
    width: 40%;
}

@media screen and (max-width: 600px) {
    p {
        font-size: 14px;
        width: 100%;
        line-height: 21px;
    }

    h1 {
        font-weight: var(--extra-bold);
        font-size: var(--bigger-m);
    }

    h2 {
        font-weight: var(--extra-bold);
        font-size: var(--h2-m);
    }

    h3 {
        font-size: var(--h3-m);
        font-weight: var(--extra-bold);
    }

    h4 {
        font-weight: var(--extra-bold);
        font-size: var(--h4-m);
    }

    nav {
        width: 90%;
        padding-top: 6vw;
    }

    nav .logo img {
        width: 22%;
    }

    nav .logo {
        font-size: 4.3vw;
    }

    nav ul {
        display: none;
    }

    nav .menu-bar {
        display: block;
        width: 6%;
    }

    .bannar {
        height: 490px;
        width: var(--m-width);
    }

    .bannar .container {
        padding: 1.6rem;
    }

    .bannar img {
        width: 100%;
        height: inherit;
        object-fit: cover;
    }

    .bannar .container .search {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .bannar .container input {
        border: none;
        outline: navajowhite;
        width: 255px;
        padding: 20px 20px;
        font-size: 1rem;
        color: rgba(19, 19, 24, 0.536);
        border-radius: var(--radius-02);
        -webkit-border-radius: var(--radius-02);
        -moz-border-radius: var(--radius-02);
        -ms-border-radius: var(--radius-02);
        -o-border-radius: var(--radius-02);
    }

    .popular-tours {
        grid-template-columns: 1fr;
        width: 90%;
    }
    .choose-destination {
        width: var(--m-width);
    }
    .choose-destination .img-container, .choose-destination .box {
        grid-template-columns: 1fr;
    }

    .why-choose{
        width: var(--m-width);
    }
    .why-choose .container {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1vw;
        border: 1px solid red;
    }
    .why-choose .container .box{
        width: 100%;
        border: 1px solid black;
    }
    
}